body{
	background-color:#c8c8c8;
	margin: 10% 10% 10% 10%;
	font-family: Roboto;
}
h1{
	color: black;
	text-align: center;
	height: 50%;
	font-family: Baskervville;
}
div p {
	 text-align: justify;
}
a{
	color: red;
}
h3{
	color:red;
}
.image{
border-width: 30px;
border-radius: 30%;

}
div img{
	width:100%;
	float: left;
	border-color: red;
	

}
figcaption{
	text-align: center;
	color:white;
}
#T1{
	text-align: justify;
	border: 2px dashed #4914E3;
	padding: 1%;
	color: #4914E3;
	background: #b7b7b7;
}
thead{
	background-color: black;
	color:white;
}
h2{
	color:red;
}
table{
	border-collapse: collapse;

}

tr:nth-child(even) 
{
	background-color: #c8c8c8;
}

tr:nth-child(odd) 
{
	background-color: #ddd;
}
figure{
	border:2px solid;
	border-color: red;
	background-color:#333;
	padding: 2%;
	border-radius: 2%;

}
#T3{
	background-color: black;
}

tr:hover {
    background-color: rgb(163, 161, 161);
    cursor: pointer;
}